<div class="app-wrapper">
  <div class="app-header">
    <div class="app-logo">
      <img src="assets/logo.png">
    </div>
    <label>Carnegie Mellon, University Police</label>
  </div>
  <div class="app-content">
    <app-star-feedback *ngIf="showStartFeedback" (onSubmit)="onStarRatingSubmit($event)"></app-star-feedback>
    <app-thank-you *ngIf="showThankYou" (onSubmit)="onThanYouComments($event)"></app-thank-you>
    <app-sorry *ngIf="showSorry" (onProblemSubmit)="onProblemSubmit($event)" (onCommentsSubmit)="onSorryComments($event)"></app-sorry>
  </div>
</div>
<app-loader *ngIf="showLoader"></app-loader>
<div class="app-done" *ngIf="showDone">
  <img src="assets/done.png">
  <label>DONE</label>
</div>